html{
	color : white;
	background-color :rgb(153,217,234);
	font-family : arial;
}
nav{
	background-color : #1e79a4;
	padding : 0.5%;
	min-height : 100px;
	max-height : 100px;
}
#bt_deco{
	float : right;
	margin-right : 2%;
	margin-top : 2%;
}

a{
	text-decoration : none;
}
#menu, #menu ul /* Liste */     

{
	padding : 0; /* pas de marge intérieure */
	margin : 0; /* ni extérieure */
	list-style : none; /* on supprime le style par défaut de la liste */
	line-height : 22px; /* on définit une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
	background-color: unset; /* couleur entre les lignes du menu non définie */ 
}


#menu /* Ensemble du menu */

{
	display : block;
	font-weight : bold; /* on met le texte en gras */
	font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
	font-size : 20px; /* hauteur du texte : 20 pixels */
	margin : 0 auto;
	position : sticky;
	top : 10px;
	margin-top: 30px;
}


#menu a /* Contenu des listes */

{
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding : 5px; /* marge intérieure de 5 pixels */
	background : grey; /* couleur de fond : gris */        
	color : #fff; /* couleur du texte */
	text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
	width : 215px; /* largeur : 200 pixels */
	border-radius : 10px; /* arrondi des angles */
}

#menu li /* Elements des listes */      

{ 
	display : inline-block; 
	/* pour IE qui ne reconnaît pas "transparent" */
	border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}

#menu li ul /* Sous-listes */

{ 

        position: absolute; /* Position absolue */

        width: 144px; /* Largeur des sous-listes */

        left: -999em; /* Hop, on envoie loin du champ de vision */

}

/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li

{
	border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

#menu li ul li /* Éléments de sous-listes */

{

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */

}

/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li                

{

        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */

}


#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
	color: grey; /* On passe le texte en gris... */
	background: #fff; /* ... et au contraire, le fond en blanc */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

#menu li > a:after
{
	content: ' v';
}
#menu li > a:only-child:after
{
	content:'';
}

/*Alexis*/


#Home_title{
	font-size:30px;
}

table {
  table-layout: fixed;
  width: 100%;
 text-align:center;
}

thead{
	background-color:#1e79a4;
}

tbody{
	background-color:#2590c2;
}

.sortisCB{
	display:inline-block;
	border : 2px solid darkblue;
	padding:1%;
}
/*Nouveau style*/


.Border
{
	max-width: 600px;
    margin:auto;
    padding: 0 10px;
    overflow: hidden;
    margin-left: auto;
	margin-right: auto;
	background-color: rgb(0,162,232);
	padding: 12px 50px;
	border-radius: 20px;
	box-shadow: -1px -10px 0px -3px #08335f;
   

}
.form_input
{
	resize:none;
	height : 60px;
	display : inline-block;
    width: 50%;
    box-sizing: border-box;
    margin:2px 0;
    border :0;
    background: white;
    padding: 10px 20px;
    outline : none;
    color: #ddd;
    transition : 0.5s;
    margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.form_input:focus
{
	box-shadow: 0 0 10px 0 #0a437c;
	color : black ; 
}
.connexion-form-btn
{
	margin-left: auto;
    margin-right: auto;
    float: right;
    width: 25%;
    border: 0;
    background: #08335f;
    color:#fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor : pointer;
	align-items: flex-end;
}

.connexion-form-btn:hover{
    background: #2980b9;
}
/*note*/
.gigaBoite {
	margin-left: auto;
    margin-right: auto;
	border-radius: 20px;
    width: 25%;
	border: 0;
	padding: 12px 50px;
    background: #08335f;
    color:#fff;
    
	
}
.gigaBoite input {
	resize:none;
	height : 60px;
	display : inline-block;
    width: 100%;
    box-sizing: border-box;
    margin:2px 0;
    border :0;
    background: white;
    padding: 10px 20px;
    outline : none;
    color: rgb(19, 18, 18);
    transition : 0.5s;
    margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.gigaBoite input:focus
{
    box-shadow: 0 0 10px 0 #020f1b;
}
.gigaBoite .button input 
{
	color: white;
	background-color: #0e59a5;
	cursor: pointer;
}

.gigaBoite .button input:hover 
{
	color: grey;
	background-color:#ffffff;
	cursor: pointer;
}

.cb{
	resize:none;
	height : 60px;
	display : inline-block;
    width: 100%;
    box-sizing: border-box;
    margin:2px 0;
    border :0;
    background: white;
    padding: 10px 20px;
    outline : none;
    color: rgb(19, 18, 18);
    transition : 0.5s;
    margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	
}

h2{
	box-shadow: black;
}
/*c*/